.card {
    width: 500px; 
    height: 500px; 
    background-color: #ffa500;
}

.box {
    width: 50%; 
    height: 50%; 
    background-color: #90ee90;
}

.texto {
    font: white; 
    background-color: red; 
    font: size 25px; 
    font-family: monospace; 
    font-weight: bold;
}

.cards {
    height: 50vh; 
    background-color: rgb (173,216,230);
}

.boxz {
    width: 75vw; 
    height: 50%; 
    background-color: rgb (250,0,0);
}